<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='carrinho.css')}}">
    <script src="https://kit.fontawesome.com/6b3ea5ddf8.js" crossorigin="anonymous"></script>
    <title>Lo Café - Editando item</title>
</head>
<body>
    <div class="top_bar">
        <h1>lo café</h1>
    </div>
    <div class="bottom_bar"> 

        <a href="/">      
            <i class="fa-solid fa-utensils"></i>
            <p>Cardápio</p>
        </a>

        <a href="/carrinho">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Carrinho</p>
        </a>
        
        {% if USER %}
        <a href="/perfil">      
            <i class="fa-solid fa-user"></i>
            <p>Perfil</p>
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-user"></i>
            <p>Login</p>
        </a>
        {% endif %}
        
        <a href="/info">
            <i class="fa-solid fa-circle-info"></i>
            <p>Info</p>
        </a>
    </div>
    <div class="bottom_bar_background">
    </div>

    <div class="main">
        <div class="boards">
            <h1>Carrinho</h1>
            <h1>Carrinho</h1>
            {% for item in ITENS_CARRINHO %}
                <h3>{{item['titulo']}}</h3>
            {% endfor %}
        </div>
    </div>
    
    
</body>
</html>