<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='carrinho.css')}}">
    <script src="https://kit.fontawesome.com/6b3ea5ddf8.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/static/main.js"></script>

    <title>Lo Café - Carrinho</title>
</head>
<body>
    <div class="top_bar">
        <h1>lo café</h1>
    </div>
    <div class="bottom_bar"> 

        <a href="/">      
            <i class="fa-solid fa-utensils"></i>
            <p>Cardápio</p>
        </a>
        
        {% if USER %}
        <a href="/carrinho">
            <i class="fa-solid fa-cart-shopping"></i>
            {% if QUANTIDADE_CARRINHO == 0 %}
                <p class="item_count">Carrinho</p>
            {% else %}
                <p class="item_count">Carrinho ({{QUANTIDADE_CARRINHO}})</p>
            {% endif %}
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Carrinho</p>
        </a>
        {% endif %}
        
        {% if USER %}
        <a href="/perfil">      
            <i class="fa-solid fa-user"></i>
            <p>Perfil</p>
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-user"></i>
            <p>Login</p>
        </a>
        {% endif %}
        
        <a href="/info">
            <i class="fa-solid fa-circle-info"></i>
            <p>Info</p>
        </a>
    </div>
    <div class="bottom_bar_background">
    </div>


    <div class="main">
        <div class="board">
            <p class="title">Carrinho</p>
            <p style="font-style: italic;">Não esqueça de nada!</p>

            {% for item in ITENS_CARRINHO %}             
            <div class="item" id="{{loop.index}}">
                <img class='itemImage' src="{{item['image_link']}}">
                <div class="itemInfo">
                    <p style="font-size: 22px; font-style: italic;">
                        {{item['titulo']}}
                        {% if item['vegan'] %}
                            <i class="fa-solid fa-leaf" title="Vegano"></i>
                        {% endif %}
                    </p>
                    <p style="font-size: 18px;">R${{item['preco']}}</p>
                    <p style="font-size: 18px; margin:5px;">{{item['descricao']}}</p>
                </div>

                <button class="remove_button" value="{{item}}">
                    <i class="fa-solid fa-xmark" style="font-size: 20px;"></i>
                </button>
            </div>
            {% endfor %}
            <p>Subtotal: R${{soma_precos}}</p>

            {% if ITENS_CARRINHO %}
            <div class="interagir_carrinho">
                <button>Limpar carrinho</button>
                <button onclick="window.location.href='/editando'">Próximo</button>
            </div>
            <div class="carrinho_vazio" style="display: none;">
                <h2>O carrinho está vazio!</h2>
                <p>Adicione alguns cafés aqui e volte mais tarde.</p>
            </div>
            {% else %}
            <div class="carrinho_vazio">
                <h2>O carrinho está vazio!</h2>
                <p>Adicione alguns cafés aqui e volte mais tarde.</p>
            </div>

            {% endif %}
        </div>
    </div>
    
    
</body>
</html>