<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='carrinho.css')}}">
    <script src="https://kit.fontawesome.com/6b3ea5ddf8.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/static/send_delivery_info.js"></script>

    <title>Lo Café - Entrega</title>
</head>
<body>
    <div class="top_bar">
        <h1>lo café</h1>
    </div>
    <div class="bottom_bar"> 

        <a href="/">      
            <i class="fa-solid fa-utensils"></i>
            <p>Cardápio</p>
        </a>
        
        {% if USER %}
        <a href="/carrinho">
            <i class="fa-solid fa-cart-shopping"></i>
            {% if QUANTIDADE_CARRINHO == 0 %}
                <p class="item_count">Carrinho</p>
            {% else %}
                <p class="item_count">Carrinho ({{QUANTIDADE_CARRINHO}})</p>
            {% endif %}
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Carrinho</p>
        </a>
        {% endif %}
        
        {% if USER %}
        <a href="/perfil">      
            <i class="fa-solid fa-user"></i>
            <p>Perfil</p>
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-user"></i>
            <p>Login</p>
        </a>
        {% endif %}
        
        <a href="/info">
            <i class="fa-solid fa-circle-info"></i>
            <p>Info</p>
        </a>
    </div>
    <div class="bottom_bar_background">
    </div>


    <div class="main">
        <div class="board">
            <button class="button" onclick="retirarVisible()">Retirar na loja</button>
            <button class="button"onclick="retirarInvisible()">Receber em casa</button>
            
            <div class="retirar" style="display: none;">
                <p class="title">Retirar na Loja</p>
                <p style="font-style: italic;">Aproveite para conhecer a loja!</p>

                {% for loja in LOJAS %}
                <a href="#" style="text-decoration: none; color: black;" id="{{loja}}" class="enviar">
                    <div class="item">
                        <i class="fa-solid fa-store" style="font-size: 24px;"></i>
                        <p>{{LOJAS[loja]['rua']}}, número {{LOJAS[loja]['numero']}}</p>
                        <p>{{LOJAS[loja]['bairro']}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            
            <div class="receber">
                <p class="title">Receber em Casa</p>
                <p style="font-style: italic;">Logo já tá chegando!</p>

                {% for endereco in ENDERECOS %}
                <a href="#" style="text-decoration: none; color: black;" id="{{endereco}}" class="enviar" data="{{ENDERECOS[endereco]}}">
                    <div class="item">
                        <p style="font-size: 30px;">{{ENDERECOS[endereco]["apelido"]}}</p>
                        <p>{{ENDERECOS[endereco]["rua"]}}</p>
                        <p>{{ENDERECOS[endereco]["bairro"]}}</p>
                        <p>{{ENDERECOS[endereco]["cep"]}}</p>
                        <p>{{ENDERECOS[endereco]["complemento"]}}</p>
                        <p>{{ENDERECOS[endereco]["referencia"]}}</p>
                    </div>
                    <input type="hidden" class="infos" value="{{endereco}}">
                </a>
                {% endfor %}
            </div>      
    </div>
    
    <script>
        function retirarVisible() {
            var enderecos_retirar = document.querySelector(".retirar")
            enderecos_retirar.style.display = "block"
            return receberInvisible()  
        }
        
        function retirarInvisible() {
            var enderecos_retirar = document.querySelector(".retirar")
            enderecos_retirar.style.display = "none"            
            return receberVisible()  
        }

        function receberVisible() {
            var enderecos_receber = document.querySelector(".receber")
            enderecos_receber.style.display = "block"    
        }

        function receberInvisible() {
            var enderecos_receber = document.querySelector(".receber")
            enderecos_receber.style.display = "none"    
        }
    </script>   
    
</body>
</html>