<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='carrinho.css')}}">
    <script src="https://kit.fontawesome.com/6b3ea5ddf8.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/static/checkbox.js"></script>

    <title>Lo Café - Entrega</title>
</head>
<body>
    <div class="top_bar">
        <h1>lo café</h1>
    </div>
    <div class="bottom_bar"> 

        <a href="/">      
            <i class="fa-solid fa-utensils"></i>
            <p>Cardápio</p>
        </a>
        
        {% if USER %}
        <a href="/carrinho">
            <i class="fa-solid fa-cart-shopping"></i>
            {% if QUANTIDADE_CARRINHO == 0 %}
                <p class="item_count">Carrinho</p>
            {% else %}
                <p class="item_count">Carrinho ({{QUANTIDADE_CARRINHO}})</p>
            {% endif %}
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Carrinho</p>
        </a>
        {% endif %}
        
        {% if USER %}
        <a href="/perfil">      
            <i class="fa-solid fa-user"></i>
            <p>Perfil</p>
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-user"></i>
            <p>Login</p>
        </a>
        {% endif %}
        
        <a href="/info">
            <i class="fa-solid fa-circle-info"></i>
            <p>Info</p>
        </a>
    </div>
    <div class="bottom_bar_background">
    </div>


    <div class="main">
        <div class="board">
            <p class="title">Entrega</p>
            <button>Retirar na loja</button>
            <button>Entregar no endereço</button>
            <div class="item">
                <p style="font-size: 24px;">Endereço da loja</p>
                <i class="fa-solid fa-store" style="font-size: 24px;"></i>
                <p>Rua Brasil, número 120</p>
                <p>Centro Histórico</p>
            </div>
    </div>
    
    
</body>
</html>