<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='carrinho.css')}}">
    <script src="https://kit.fontawesome.com/6b3ea5ddf8.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/static/checkbox.js"></script>

    <title>Lo Café - Entrega</title>
</head>
<body>
    <div class="top_bar">
        <h1>lo café</h1>
    </div>
    <div class="bottom_bar"> 

        <a href="/">      
            <i class="fa-solid fa-utensils"></i>
            <p>Cardápio</p>
        </a>
        
        {% if USER %}
        <a href="/carrinho">
            <i class="fa-solid fa-cart-shopping"></i>
            {% if QUANTIDADE_CARRINHO == 0 %}
                <p class="item_count">Carrinho</p>
            {% else %}
                <p class="item_count">Carrinho ({{QUANTIDADE_CARRINHO}})</p>
            {% endif %}
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Carrinho</p>
        </a>
        {% endif %}
        
        {% if USER %}
        <a href="/perfil">      
            <i class="fa-solid fa-user"></i>
            <p>Perfil</p>
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-user"></i>
            <p>Login</p>
        </a>
        {% endif %}
        
        <a href="/info">
            <i class="fa-solid fa-circle-info"></i>
            <p>Info</p>
        </a>
    </div>
    <div class="bottom_bar_background">
    </div>


    <div class="main">
        <div class="board">
            <p class="title">Entrega</p>
            <p style="font-style: italic;">Escolha a forma de entrega</p>
            <button onclick="switchEntregaReceber()">Toggle Visibilidade</button>

            <button class="button">Retirar na loja</button>
            <button class="button">Receber em casa</button>
            
            <div class="retirar">
                {% for loja in LOJAS %}
                <a href="#" style="text-decoration: none; color: black;">
                    <div class="item">
                        <i class="fa-solid fa-store" style="font-size: 24px;"></i>
                        <p>{{loja['rua']}}, número {{loja['numero']}}</p>
                        <p>{{loja['bairro']}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="receber">
                <p>Endereço 1</p>
                <p>Endereço 2</p>
                <p>Endereço 3</p>
            </div>
            
    </div>
    
    <script>
        function switchEntregaReceber() {
            var enderecos_retirar = document.querySelectorAll(".retirar")
            var enderecos_entrega = document.querySelectorAll(".entrega")
            
            enderecos_retirar.forEach(function(elemento) {
                if (elemento.style.display === "none" || elemento.style.display === '')
                {
                    elemento.style.display = "block";

                }
                else
                {
                    elemento.style.display = "none";
                }
            }
            );
        }
    </script>
    
</body>
</html>