<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='carrinho.css')}}">
    <script src="https://kit.fontawesome.com/6b3ea5ddf8.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/static/enviar_req_pix.js"></script>

    <title>Lo Café - Pagamento</title>
</head>
<body>
    <div class="top_bar">
        <h1>lo café</h1>
    </div>
    <div class="bottom_bar"> 

        <a href="/">      
            <i class="fa-solid fa-utensils"></i>
            <p>Cardápio</p>
        </a>
        
        {% if USER %}
        <a href="/carrinho">
            <i class="fa-solid fa-cart-shopping"></i>
            {% if QUANTIDADE_CARRINHO == 0 %}
                <p class="item_count">Carrinho</p>
            {% else %}
                <p class="item_count">Carrinho ({{QUANTIDADE_CARRINHO}})</p>
            {% endif %}
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Carrinho</p>
        </a>
        {% endif %}
        
        {% if USER %}
        <a href="/perfil">      
            <i class="fa-solid fa-user"></i>
            <p>Perfil</p>
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-user"></i>
            <p>Login</p>
        </a>
        {% endif %}
        
        <a href="/info">
            <i class="fa-solid fa-circle-info"></i>
            <p>Info</p>
        </a>
    </div>
    <div class="bottom_bar_background">
    </div>


    <div class="main">
        <div class="board">
            <p class="title">Pagamento</p>
            <p style="font-style: italic;">Confira se está tudo certinho!</p>

            <p style="font-size: 30px;text-align: center;margin-top: 5vh;">Resumo do pedido</p>
            
            {% for item in ITENS_CARRINHO %}
                <div class="item" id="{{loop.index}}">
                    <img class='itemImage' src="{{item['image_link']}}">
                    <div class="itemInfo">
                        <p style="font-size: 22px; font-style: italic;">
                            {{item['titulo']}}
                            {% if item['vegan'] %}
                            <i class="fa-solid fa-leaf" title="Vegano"></i>
                            {% endif %}
                        </p>
                        <p style="font-size: 18px;">R${{item['preco']}}</p>
                    </div>

                    {% if item['adicionais'] %}
                        {% for adicional in item['adicionais']%}
                            {% if adicional['status'] == "true" %}
                                <div id="{{loop.index}}">
                                    <span style="display: flex; align-items: center;">
                                        <i class="fa-regular fa-circle-check" style="margin-right: 6px;"></i>
                                        <p>{{adicional['nome']}} por +R${{adicional['preco']}}</p>
                                    </span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>        
            {% endfor %}

            <span style="font-size: 30px;text-align: center;margin-top: 5vh;">
                <p >Valor total</p>
                <p><i>R${{SOMA_TOTAL}}</i></p>
            </span> 

            <p style="font-size: 30px;text-align: center;margin-top: 5vh;">Entrega</p>
            
                <div class="item">
                    <p style="font-size: 30px;">{{ENTREGA["apelido"]}}</p>
                    <p>{{ENTREGA["rua"]}}</p>
                    <p>{{ENTREGA["bairro"]}}</p>
                    <p>{{ENTREGA["cep"]}}</p>
                    <p>{{ENTREGA["complemento"]}}</p>
                    <p>{{ENTREGA["referencia"]}}</p>
                </div>
                <input type="hidden" class="infos" value="{{endereco}}">
            
            <p style="font-size: 30px;text-align: center;margin-top: 5vh;">Forma de Pagamento</p>
            <p style="font-style: italic; text-align: center;">Escolha a melhor forma de pagamento para você</p>
                
            <button class="gerar_pix" preco="{{SOMA_TOTAL}}" onclick="pixVisible()">Pix</button>
            <button class="button" onclick="pixInvisible()">Cartão</button>
                
            <span class="pix" style="display: none;">
                
                <p style="font-size: 30px;text-align: center;margin-top: 5vh;">Pix</p>
                <p style="font-style: italic; text-align: center;">Realize a leitura do código QR para efetuar o pagamento. Depois, clique em Confirmar.</p>
                
                <img class="pix_img" style="width: 90vw;max-width: 300px;margin-left: 20px;margin-top: 25px;display: block;">
                <p class="copy_output" style="display: none;margin-top: 20px;">Código copiado!</p>
                <button class="copiar_qr_code">Copiar código pix</button>
                <button class="confirmar_pagamento_pix">Confirmar</button>
            </span>

            {% if CARTOES %}
                <span class="cartoes">
                    <p style="font-size: 30px;text-align: center;margin-top: 5vh;">Cartões</p>
                    <p style="font-style: italic; text-align: center;">Selecione um cartão para realizar o pagamento</p>

                    {% for cartao in CARTOES %}
                        <div class="item">
                            <span class="texto">
                                <p style="font-size: 30px;">{{CARTOES[cartao]['apelido_cartao']}}</p>
                                <p>Final {{CARTOES[cartao]['numero_cartao']}}</p>
                                <p>Validade {{CARTOES[cartao]['validade']}}</p>
                                <p>Titular: {{CARTOES[cartao]['titular']}}</p>
                                
                            </span>
                            <button class="remove_button" value="{{cartao}}">
                                <i class="fa-solid fa-check" style="font-size: 20px;"></i>
                            </button>
                        </div>
                    {% endfor %}
                </span>
            {% else %}
                <div style="margin-top: 65px; font-size: 30px; text-align: center;">
                    <p>Você ainda não registrou nenhum cartão na sua conta.</p>
                    <p>Vá na aba de perfil para registrar um novo cartão.</p>
                </div>
            {% endif %}

            <script>
                function pixVisible() {
                    var pix = document.querySelector(".pix")
                    pix.style.display = "block"
                    return cartaoInvisible()  
                }
                
                function pixInvisible() {
                    var pix = document.querySelector(".pix")
                    pix.style.display = "none"
                    return cartaoVisible()  
                }
        
                function cartaoVisible() {
                    var cartao = document.querySelector(".cartoes")
                    cartao.style.display = "block"
                }
        
                function cartaoInvisible() {
                    var cartoes = document.querySelector(".cartoes")
                    cartoes.style.display = "none"
                }
            </script>   
            
</body>
</html>