<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='perfil.css')}}">
    <script src="https://kit.fontawesome.com/6b3ea5ddf8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/static/add_n_remove_endereco.js"></script>
    <script src="/static/sair_da_conta.js"></script>

    <title>Lo Café - Meu Perfil</title>
</head>
<body>
    <div class="top_bar">
        <h1>lo café</h1>
    </div>
    <div class="bottom_bar"> 

        <a href="/">      
            <i class="fa-solid fa-utensils"></i>
            <p>Cardápio</p>
        </a>
        
        {% if USER %}
        <a href="/carrinho">
            <i class="fa-solid fa-cart-shopping"></i>
            {% if QUANTIDADE_CARRINHO == 0 %}
                <p class="item_count">Carrinho</p>
            {% else %}
                <p class="item_count">Carrinho ({{QUANTIDADE_CARRINHO}})</p>
            {% endif %}
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Carrinho</p>
        </a>
        {% endif %}
        
        {% if USER %}
        <a href="/perfil">      
            <i class="fa-solid fa-user"></i>
            <p>Perfil</p>
        </a>
        {% else %}
        <a href="/login">
            <i class="fa-solid fa-user"></i>
            <p>Login</p>
        </a>
        {% endif %}
        
        <a href="/info">
            <i class="fa-solid fa-circle-info"></i>
            <p>Info</p>
        </a>
    </div>
    <div class="bottom_bar_background">
    </div>


    <div class="main">
        <div class="boards">
            <p style="font-size: 30px;text-align: center;margin-top: 5vh;">Informações pessoais</p>
            <div class="item">
                <span class="texto">
                    <p>Nome:        {{USER["nome"]}}</p>
                    <p>E-mail:      {{USER["email"]}}</p>
                    <p>Telefone:    {{USER["telefone"]}}</p>
                </span>
            </div>
            
            <p style="font-size: 30px;text-align: center;margin-top: 5vh;">Endereços de entrega</p>

            {% for endereco in ENDERECOS %}
            <div class="item">
                <span class="texto">
                    <p style="font-size: 30px;">{{ENDERECOS[endereco]["apelido"]}}</p>
                    <p>{{ENDERECOS[endereco]["rua"]}}</p>
                    <p>{{ENDERECOS[endereco]["bairro"]}}</p>
                    <p>{{ENDERECOS[endereco]["cep"]}}</p>
                    <p>{{ENDERECOS[endereco]["complemento"]}}</p>
                    <p>{{ENDERECOS[endereco]["referencia"]}}</p>
                </span>
                <button class="remove_button" value="{{endereco}}">
                    <i class="fa-solid fa-xmark" style="font-size: 20px;"></i>
                </button>
            </div>
        {% endfor %}
            <a href="/registrar-endereço">
                <p>Registrar novo endereço</p>
            </a>
            
            <p style="font-size: 30px;text-align: center;margin-top: 5vh;">Cartões registrados</p>
            <div class="item">
                <span class="texto">
                    <p style="font-size: 30px;">Cartão do Lorenzo</p>
                    <p>Final 5103</p>
                    <p>Validade 12/25</p>
                    <p>Titular: Lorenzo Pandolfo</p>
                    
                </span>
                <button class="remove_button" value="{{item}}">
                    <i class="fa-solid fa-xmark" style="font-size: 20px;"></i>
                </button>
            </div>

            <a href="/registrar-cartao">
                <p style="margin-bottom: 25px;">Registrar novo cartão</p>
            </a>
            <form method="POST", action="#">
                <input type="submit" value="Sair da Conta" name="sair" class="btn_sair_da_conta">
            </form> 
            
        </div>
    </div>
    
    
    
</body>
</html>