*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.fa-chevron-down {
    font-size: 0;
}

.fa-user {
    font-size: 3vh;
    margin:6px 5px 0 0;
}

.login > a {
    text-decoration: none;
    color: #000;
}

.top_bar {
    width: 100%;
    height: 4.5vh;
    max-height: 50px;
    background-color: #A0CED9;
    display: flex;
    position: fixed;
    justify-content: space-between;
}

.top_bar > h1 {
    text-align: center;
    font-size: 3vh;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #FCF5C7;
    display: flex;
    justify-content: center;
}

.item {
    margin: 3vh 0 0 2vh;
    background: #FFC09F;
    height: 25vh;
    max-height: 200px;
    width: 60vw;
    max-width: 1050px;
    border-radius: 10px;
    padding: 10px;
}

.itemText {
    font-size: 22px;
}

.itemImage {
    width: 140px;
    height: 140px;
    border-radius: 10%;
    margin: 10px;
    float: left;
}

.board_top {
    background: #FFC09F;
    height: 10vh;
    max-height: 65px;
    width: 60vw;
    max-width: 1050px;
    border-radius: 10px;
    margin: 7vh 0 0 2vh;
}

.board_top > button{
    text-align: center;
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #FDFFB6;
    color: #000;
    font-size: 2vh;
    white-space: nowrap;
    display: inline-block;
}

@media screen and (max-width: 800px) {
    .right_board {
        display: none;
    }
    
    .board_top {
        display: flex;
        width: 93vw;
        margin: 7vh 0 0 0vh;
    }
    
    .board_top > button {
        font-size: 2.5vw;
        margin:1.5vh 0px 1.5vh 1.5vw;
    }

    .board {
        box-sizing: border-box;
        width: 80vw;
    }
    
    .fa-chevron-down {
        font-size: 4vh;
        margin:0 0 0 5px;
    }

    .item {
        margin: 2vh 0 0 0;
        background: #FFC09F;
        height: 93vh;
        width: 93vw;
        border-radius: 15px;
        padding: 5px;
    }

}

.right_board {
    background: #FFC09F;
    height: 80vh;
    max-height: 400px;
    width: 30vw;
    max-width: 250px;
    border-radius: 10px;
    margin: 7vh 0 0 2vh;
}