<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='homepage.css')}}">
    <script src="https://kit.fontawesome.com/6b3ea5ddf8.js" crossorigin="anonymous"></script>
    <title>Lo Café - Início</title>
</head>
<body>
    <div class="top_bar">
        <i class="fa-solid fa-chevron-down"></i>
        <h1>Lo Café</h1>
        <div class="login">
            {% if USER %}
            <a href="/perfil">
                Meu perfil
                <i class="fa-solid fa-user"></i>
                </a>
            {% else %}
                <a href="/login">
                    Login
                    <i class="fa-solid fa-user"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="main">
            <div class="boards">
                <div class="board_top">
                    <button>Cardápio</button>
                    <button>Mais pedidos</button>
                    <button>Promoções</button>
                    <button>Bebidas</button>
                </div>
    
                <div class="board">
                    <div class="item_board">
                        <div class="img-container">
                            <img class="imagem" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/A_small_cup_of_coffee.JPG/1200px-A_small_cup_of_coffee.JPG">
                        </div>
                    </div>
                    <div class="clearf"></div>
                </div>
            </div>
            <div class="right_board">
                <p>oi{{USER['nome']}}</p>
                <p>Sou o right_board!</p>
            </div>
        </div>
    </div>
    
</body>
</html>