<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='homepage.css')}}">
    <title>Lo Café - Início</title>
</head>
<body>
    <div class="top_bar">
        <h1>Lo Café</h1>
    </div>
    <div class="main">
        <div class="main_board">
            <div class="board_top">
                <button>Cardápio</button>
                <button>Mais pedidos</button>
                <button>Promoções</button>
                <button>Bebidas</button>
            </div>
            <div class="board">
            </div>
        </div>
        <div class="right_board">
            <p>Sou o right_board!</p>
        </div>
        
    </div>
    
</body>
</html>