<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
    <script src="https://kit.fontawesome.com/6b3ea5ddf8.js" crossorigin="anonymous"></script>
    <title>Lo Café - Registrar-se</title>
</head>
<body>
    <div class="main">
        <div class="card">
            <p style="font-size: 30px; margin-top: 3vh; margin-bottom: 0.5vh;">Crie sua conta!</p>
            <p style="margin-bottom: 2.5vh;">É de graça, tá em casa.</p>
            <form method="POST", action="#">
                <label>
                    <p>O seu melhor e-mail</p>
                    <input type="email" name="email">
                    <p>Senha secreta</p>
                    <input type="password" name="senha">
                    <p>Nome completo</p>
                    <input type="text" name="nome">
                    <p>Telefone com DDD</p>
                    <input type="tel" name="telefone" placeholder="15 9 1234 5678">
                    <p style="text-align: center; margin-bottom: 10px;">{{erro}}</p>
                    <input type="submit" value="Registrar-se">
                    <p></p>
                    <a  href="/login" style="float: left; margin:15px; text-decoration: none;">Já tem conta? Entre!</a>
                </label>
            </form>
        </div>
    </div>
</body>
</html>